<?xml version="1.0" encoding="utf-8"?>
<authenticationConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<securityTokenServiceSettings>
		<identityServerSettings>
			<identityServerClients>
				<add clientId="scripts" enabled="True" flow="ResourceOwner" allowAccessToAllScopes="True" clientName="scripts">
					<clientSecrets>
						<add clientSecret="s9fB_px@j4C8mfd4Gv.1e,d" />
					</clientSecrets>
				</add>
			</identityServerClients>
		</identityServerSettings>
		<authenticationProviders>
			<add clientId="0oa1qvf1aq3JbY5Zq0h8" scope="openid profile email" authority="https://jll.okta.com" redirectUri="https://olm-cms-prod.jll.com/Sitefinity/Authenticate/OpenID/signin-custom" OpenIdConnectNonceMode="Enabled" enabled="True" name="OpenIDConnect" config:flags="1" />
		</authenticationProviders>
	</securityTokenServiceSettings>
</authenticationConfig>