<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<cultures>
		<add culture="fr" uiCulture="fr" key="french-fr" />
		<add culture="de" uiCulture="de" key="german-de" />
		<add culture="cs" uiCulture="cs" key="czech-cs" />
		<add culture="it" uiCulture="it" key="italian-it" />
		<add culture="pt" uiCulture="pt" key="portuguese-pt" />
		<add culture="nl" uiCulture="nl" key="dutch-nl" />
		<add culture="sk" uiCulture="sk" key="slovak-sk" />
		<add culture="es" uiCulture="es" key="spanish-es" />
		<add culture="ro" uiCulture="ro" key="romanian-ro" />
		<add culture="fi" uiCulture="fi" key="finnish-fi" />
		<add culture="zh" uiCulture="zh" key="chinese-zh" />
		<add culture="id" uiCulture="id" fieldSuffix="idn" key="indonesian-id" />
		<add culture="th" uiCulture="th" key="thai-th" />
		<add culture="vi" uiCulture="vi" key="vietnamese-vi" />
		<add culture="ko" uiCulture="ko" key="korean-ko" />
		<add culture="ja" uiCulture="ja" key="japanese-ja" />
	</cultures>
</resourcesConfig>