<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="51156599D0C607A22FE79BA78009FB1B1C21558BD498C8480575E7414B9B8ACFEC3BEBD0161C6E4108D75617583D43F09D771CB7A8416D81D7AA709CEC44A09C" decryptionKey="9593F68DF8BA0D956C422B57D77508D9372819EBEDF5EF25B2F6DC8FF7192646" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="C3B6F7507B26FAEC35BFC7E5612C45DA7D69CAE2E0EB84BFBAD5FDE7F8CB8D1A" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="C3B6F7507B26FAEC35BFC7E5612C45DA7D69CAE2E0EB84BFBAD5FDE7F8CB8D1A" realm="http://localhost" />
	</relyingParties>
</securityConfig>