<?xml version="1.0" encoding="utf-8"?>
<sitemapConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<excludedTypesConfigs>
		<add explicitlyIncludeType="True" typeName="Telerik.Sitefinity.DynamicTypes.Model.SEOLandingPages.SEOLandingPage" />
	</excludedTypesConfigs>
</sitemapConfig>