<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<applicationModules>
		<add startupType="Disabled" name="Search" config:flags="1" />
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Events" config:flags="1" />
		<add startupType="Disabled" name="Forms" config:flags="1" />
		<add startupType="Disabled" name="Analytics" config:flags="1" />
		<add startupType="Disabled" name="Newsletters" config:flags="1" />
		<add startupType="Disabled" name="Ecommerce" config:flags="1" />
		<add startupType="Disabled" name="ResponsiveDesign" config:flags="1" />
		<add startupType="Disabled" name="Publishing" config:flags="1" />
		<add startupType="Disabled" name="Forums" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add startupType="Disabled" name="Feather" config:flags="1" />
		<add startupType="OnApplicationStart" name="Synchronization" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="MarketoConnector" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="DataIntelligenceConnector" config:flags="1" />
		<add startupType="Disabled" name="EloquaConnector" config:flags="1" />
		<add startupType="Disabled" name="Comments" config:flags="1" />
		<add startupType="Disabled" name="ABTesting" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity" config:key="2" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity" config:key="4" config:flags="1" />
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity" config:key="5" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>