<?xml version="1.0" encoding="utf-8"?>
<webServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7600.0">
	<Routes>
		<add name="Frontend" config:flags="1">
			<services>
				<add access="Anonymous" urlName="default" config:flags="1">
					<types>
						<add clrType="Telerik.Sitefinity.Taxonomies.Model.HierarchicalTaxon" config:flags="1">
							<propertyMappings>
								<remove Name="FullUrl" />
								<add PersistentName="FullUrl" ReadOnly="True" Name="FullUrl" type:this="Telerik.Sitefinity.Web.Api.Configuration.PersistentPropertyMapping, Telerik.Sitefinity.Web.Api" />
							</propertyMappings>
						</add>
						<add clrType="Telerik.Sitefinity.DynamicTypes.Model.SiteSettings.Contact" config:flags="1">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="UrlName" />
								<remove Name="Title" />
							</propertyMappings>
						</add>
						<add access="Anonymous" clrType="Telerik.Sitefinity.DynamicTypes.Model.SiteSettings.FormConfiguration" config:flags="1">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
							</propertyMappings>
						</add>
						<add clrType="Telerik.Sitefinity.DynamicTypes.Model.SiteSettings.FreespeeConfiguration" config:flags="1">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="UrlName" />
								<remove Name="Title" />
							</propertyMappings>
						</add>
						<add clrType="Telerik.Sitefinity.DynamicTypes.Model.i18nCopies.I18nCopy" config:flags="1">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
							</propertyMappings>
						</add>
						<add clrType="Telerik.Sitefinity.DynamicTypes.Model.SiteSettings.SiteSettings" config:flags="1">
							<propertyMappings>
								<remove Name="LastModified" />
								<remove Name="PublicationDate" />
								<remove Name="DateCreated" />
								<remove Name="UrlName" />
								<remove Name="Title" />
							</propertyMappings>
						</add>
					</types>
				</add>
			</services>
		</add>
	</Routes>
</webServicesConfig>